
body {
  background-color: #f8f8f8;
}

main {
    padding: 20px 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: #004AAD;

}

header h1 {
  font-size: 2rem;
}

.box-custom {
    /* background-color: rgb(166, 166, 166); */
    /* height: 600px; 
    overflow-y: auto;*/
    border-radius: 1.25rem;
    background: #f7f8fc;
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom:2.25rem;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

.progress-wrap{
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    height: 45px;
    background-color:#004AAD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
} 

.step {
    width: 100%;
    background-color: #004AAD;
    /* border-right: 1px solid #757575; */
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem 1.25rem;
    
    /* border-right: 1px solid black; */
}


.active-prog-first {
  border-radius: 1.25rem 3.125rem 3.125rem 0;
  /* background: linear-gradient(89deg, #d68d8d -1.24%, rgb(179, 97, 97) 29.26%, #ae4242 60.29%, #a72828 99.73%); */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #032cf8;
  /* color: rgb(237, 187, 102); */
  background: linear-gradient(to right,#700202 ,#081182);
  background-color: #700202;
  color: #ffbf5b;
  font-weight: 700;
}

.active-prog-last {
  border-radius: 3.125rem 1.25rem 0 3.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right,#700202 ,#081182);
  background-color: #700202;
  color: #ffbf5b;
  border-top-right-radius: 1.25rem;
}

.active-prog {
  border-radius: 3.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right,#700202 ,#081182);
  background-color: #700202;
  color: #ffbf5b;
  font-weight: bolder;
  font-size: 1rem;
}

.form-container {
    margin: 50px 50px 30px 50px;
    /* border: 1px solid red; */
}

.tab-content {
  font-size: 1.1rem;
}

.tab-content > ul > li > span {
    font-weight: bolder;
}

.tab-content > ul > li {
    margin-left: -10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tab-content > ul > li > ul > li{
    margin-left: -15px;
}

.hidden {
    display: none;
  }

  .btns-group{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }



  .tab-header {
    /* text-align: center; */
    text-transform: uppercase;
  }
  .tab-header h3{
    font-weight: bold;
    color: #297AD8;
  }

  .stepheader {
    color: #297AD8;
    font-weight: bold;
  }

  .tab-header, .tab-content {
    margin-bottom: 20px;
  }

  .form-content {
    border-top: 1px solid #297AD8;
    padding-top: 20px;
  }

  .tab-subhead {
    margin-bottom: 5px;
  }

  .tab-subhead h6{
    font-weight: bold;

  }

  /* .fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  } */

  .form-checks {
    margin-top: 20px;
  }

  .input-group {
    display: flex;
    width: calc( 100% / 3 - 15px);
    flex-direction: column;
  }
  .input-group label {
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
    /* text-transform: capitalize; */
  }
  .input-group input, .input-group select {
    height: 42px;
    margin: 8px 0;
    outline: none;
    border:  1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    padding: 0 15px;
  }

  option {
    color: #333;
    font-size: 14px;

  }

  /* .input-group input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  } */

  

  .first-btn {
    justify-content: flex-end;
    z-index: 1;
  }

  .btn, .submit {
    padding: 1rem;
    border-radius: 5px; 
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn-next, .submit {
    width: 6rem;
    height: 3rem;
    background: #297AD8;
    color: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
  }



  .btn:hover {
    /* background: var(--color-1-hover); */
    /* box-shadow: blue; */
    scale: 1.1; 
    font-weight: bolder;
}

  .btns-group a,
  .button a{
    text-decoration: none
  }

  .btns-group a .bx,
  .button a .bx {
    vertical-align: middle;
    font-size: 1.4rem;
  }

  .btn-export,
  .btn-set {
      text-decoration: none;
      width: 15rem;
      height: 3rem;
      background: #297AD8;
      color: #FFF;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }


  .field-message{
    color: red;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: -5px;
    text-align: right;
    display: none;
  }

  .tabpanel
  {
    display: none;

  }
  .show {
    display: block;
  }

  .error {
    border: 1px solid red !important;
    /* outline: red; */
  }

  /* #map { 
    width: 90%;
    height: 400px;
    margin: auto;
  } */

  #Alert {
    display: none;
  }

  #videoAlert {
    display: none;
  }


  @media only screen and (max-width: 800px) {
    html {
        font-size: 80%;
    }
    
    .form-container {
        margin: 45px;
    }


  }

  @media only screen and (max-width: 768px) {
  
    .input-group {
        width: calc( 100% / 2 - 15px);
      }
}

  @media only screen and (max-width: 635px) {
    html {
        font-size: 70%;
    }

    .form-container {
        margin: 40px;
    }

  }

  @media only screen and (max-width: 550px) {
    html {
        font-size: 60%;
    }
    .form-container {
        margin: 30px 30px 30px 30px;
    }

    .input-group {
        width: 100%;
      }

     .mapboxgl-ctrl {
        width: 50px; /* Adjust the width as needed */
        padding: 8px;
        font-size: 14px;
    }

  }
  
  @media only screen and (max-width: 320px) {
  
    .form-container {
        margin: 20px 20px 20px 20px;
    }

  }